 
.ti1 ul {
  list-style-type: none;
  text-align: left;
  
}

.ti1 li {
  font-family: URW Gothic L;
  font-size: 60px;
  color: white;

  display: inline-block;
border-color: white;
  padding-bottom:  20px;

}
  h2{
    margin-left: 25px;
    font-family: "Cambria", monospace;
  }
  h2 span{
    font-size: 30px;
    padding: 0px;
    vertical-align: middle;
    color: ;
    }
  p{
    text-align: justify;
    font-family: "Cambria",sans-serif;
    font-size: 19px;
    margin: 25px;
  }
 
 img{
    width: 250px;
    margin: 20px;
    border-style: dashed;
    float:right;
  }
  
 #disqus_thread{
   padding: 25px;
 }
 
  .esfinge {
       width: 960px;
       margin: 0 auto;
       background-image: url("../img/alan.jpg");
       background-position: center center;
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
  }
  .cont{
    overflow: hidden;
  }
  .cont h1{
    text-align:center;
    font-family: "Palatino", serif;
      
  }
  .m1,
  .menu{
    float:right;
    width: 20%;

  }
  .m1 ul,
  .menu ul{
    font-size: 22px;
    font-variant: small-caps;
    font-family: Calibri,"Garamond",monospace;
    list-style-type: none;
  }
  .m1 ul li,
  .menu ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    border-style:inset;
    border-bottom-left-radius: 20%;
  }
  .m1 ul li a:active,
  .m1 ul li a:visited{
    color: black;
  }
  .menu ul li a:active{
    color: blue;
  }
  .menu ul li a:visited{
    color: purple;
  }
  .texto{
    float: right;
    color: #8b0000;
        /*background-color: #bdb76b;*/
  }
  .es{    
    width: 300px;
    margin: 30px;
    border-style:groove;
    float: right;
    
  }
    
  em{
    font-size: 22px;
    font-family: Calibri,"Garamond",monospace;
    padding-top: 10px;
    padding-bottom: 10px;
     
  }
  .glos{
        text-align: justify;
	float:left;	
	width:50%;
  }
  .otro{
        text-align: justify;
	float:right
  }
  
  
  .otro1{
        text-align: justify;
	float:left;
	width:50%;
  }
 
 body{
   
       
       
}
ul li a:link,
ul li a:active,
ul li a:visited{
  color: black;
  }
