 body {
  width: 960px;
  margin: 0 auto;
 
  }

h1{
  text-align: center;
  font-family:"Times",sans-serif;
  color: #9D538E;

}

h2{
  text-align:left;
  font-family:"verdana",serif;
   padding-right: 50px;
   color:  	#808000;
   float: left;

  
}
ul{
  margin-left: 10px;
  font: italic 20px "Lucida Console",monospace;
}

ul li a:active{
  color: purple;
}
ul li a:visited{
  color: #4B0082;
}

img{
  width: 235px;
  margin:20px 30px 0px 20px;
  border-radius: 20%;
  float:left;
}

html{
   background-position: center center;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
    background-size: cover;
   background-image: url("../img/tene.jpg");
}
.primero{
  width: 50%;
  float:right;
 
}
.segundo{
  width: 50%;
  float: right;

}